 .gallery {
    display: flex;
    flex-wrap: wrap;
  }

 .gallery-item {
    flex: 0 0;
    min-width: 100%;
    /* gap: 10px; */
    text-align: center;
  }

  /* Responsive image styling */
  .gallery-item img {
    width: 100%;
    height: auto;
  }

  /* Media queries for larger screens using Bootstrap breakpoints */
  @media (min-width: 576px) {
    .gallery-item {min-width: 50%;}
  }

  @media (min-width: 768px) {
    .gallery-item {min-width: 33.333%;}
  }

  @media (min-width: 992px) {
    .gallery-item {min-width: 25%;}
  }

  @media (min-width: 1200px) {
    .gallery-item {min-width:20%;}
  }