* {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}       


body {
    margin: 0; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1;
    margin: 30px 10px 50px 10px;
}

footer {
    width:100%;
    padding:0px 0;
    text-align:center;
    color:#fff;
    background-color:#04AA6D;
    }
  


form label {
    display: inline-block;
    width: 125px;
    margin-right: 5px;
    white-space: nowrap;
}

select {
    padding: 3px;
}

form {

    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    width: 500px;
    border-radius: 5px;
}

fieldset {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }

legend {
    font-weight: bold;
    color: #333;
}
